html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    background-image: url(trava.jpg);
    background-size: cover;
}

body.travafuc {
    background-image: url(travafuc.jpg);    
}

body.noc {
    background-image: url(noc.jpg);    
}


.ramecek {
    width: 50%;
    background-color: white;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 50px;
}
.smiley {
    font-size: 300%;
}